#change{
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  cursor: pointer;
}
body {
  background-color: var(--primary-color);
  transition: 0.3s;
}
.version{
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--secondary-color)
}
:root{
  --primary-color: #FFFFFF;
  --secondary-color: #000000;
}
.dark-theme{
  --primary-color: #000000;
  --secondary-color: #FFFFFF;
}
#stat{
  color: var(--secondary-color)
}
#date{
  color: var(--secondary-color)
}
#lesson{
  color: var(--secondary-color)
}